################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/repos/FileContentIndex/691902aa-ca82-4999-8d91-10b29c61efd3.vsidx
